[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = nguyenquangmuoi
	email = 103338761+nguyenquangmuoi@users.noreply.github.com
